<footer>
    <div class="p-4 d-flex">
        <div class="me-auto">
            <p style="font-size: 0.75rem;">Michel Michels</p>        
        </div>

        <p style="font-size: 0.75rem;" class="link-opacity-50">
            <a href="@Constants.SiteGitHubUrl" target="_blank" class="icon-link">
                <i class="bi-code-slash" />
                Source code
        </a></p>
    </div>   
</footer>