<footer>
    <div class="p-4 d-flex">
        <div class="me-auto">
            <p>Michel Michels</p>        
        </div>

        <a href="https://git.miche.ls/site" target="_blank">Source code</a>
    </div>
   
</footer>