<header class="p-4 pb-3 d-flex align-items-center">
    <div class="me-auto position-relative">
        <h1 class="m-0 fw-bold lh-1 fs-5">Michel</h1>
        <h1 class="m-0 fw-bold lh-1 fs-5">Michels</h1>
        <a href="/" class="stretched-link" />
    </div>

    <div class="hstack gap-2">
        <a href="https://github.com/MichelMichels" class="btn btn-outline-secondary" role="button">
            <div class="hstack gap-2">
                <i class="bi-github" />
                <span>Profile</span>
            </div>
        </a>
    </div>
</header>

<div class="wavy-line bg-secondary"></div>
