@page "/"

<PageTitle>Home | michel.miche.ls</PageTitle>

<div class="container">
    <div class="vstack text-center gap-3">
        <img src="img/me.png" width="200" class="p-4 m-auto" />

        <p class="fs-1 fw-light">Hi, I'm <span class="fw-normal">Michel Michels</span>.</p>

        <a href="projects" class="btn btn-outline-primary m-auto">See projects</a>       
    </div>
</div>