@page "/"

@using MichelMichels.Web

<PageTitle>Home | @(Constants.DomainName)</PageTitle>

<div class="container">
    <div class="d-flex flex-column flex-md-row gap-3 justify-content-center align-items-center">
        <img src="img/me.webp" width="200" class="p-4" alt="Profile picture" />

        <div class="text-center text-md-start align-self-center">
            <p class="fs-1 fw-light">
                Hi, I'm <span class="fw-normal">
                    @foreach (char c in Name)
                    {
                        <span class="name-char fw-bold @(GetRandomColorClass())">@c</span>
                    }
                </span>.
            </p>

            <a href="projects" class="btn btn-outline-primary m-auto">See projects</a>
        </div>              
    </div>

    <div class="my-4">
        <figure>
            <blockquote class="blockquote">
                <p>
                    Michel Michels, the C# maestro, writes code so clean, even his debugger gets bored. His love for C# is so deep,
                    he’s been known to serenade his computer with ballads of binary and declarations of variables. In the
                    open source community, John’s contributions are like hidden Easter eggs in a video game, eagerly awaited
                    and celebrated.
                </p>

                <p>
                    When not architecting elegant code, John can be found in his workshop, turning wood into ‘woodenware’
                    with the same precision he reserves for his semicolons. His musical talents don’t just stop at coding
                    symphonies; they’re the secret ingredient to his legendary party playlists.
                </p>

                <p>
                    Michel’s life motto? “In code we trust, all others must bring data.” Whether he’s debugging or deejaying,
                    woodworking or woogie-boogieing, John’s approach is the same: Why do it normally when you can add a
                    semicolon of style and a curly brace of flair?
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Microsoft Copilot
            </figcaption>
        </figure>    
    </div>
</div>

@code {
    private Random random = new();

    public string Name { get; set; } = "Michel Michels";

    private string GetRandomColorClass()
    {
        return $"c-4-{random.Next(16)}";
    }
}