<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Site of Michel Michels">

    <base href="/" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PP4894F374"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PP4894F374');
    </script>

    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="MichelMichels.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-icons.min.css">
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script src="js/bootstrap.bundle.min.js" defer></script>
</body>

</html>